*{
    margin: 0;
}

body{
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    width: 100%;
    height: 500px;
}

#lesbeatles{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.personnage{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

p{
    margin-bottom: 15px;
}